---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <article class="prose dark:prose-invert prose-zinc">
    <h1 class="mb-2">Important Licensing Info</h1><p>
      Hi, it's <a href="https://gravy59.vercel.app">Gravy</a>. 👋🏻
    </p><p>
      I'd like to make it abundantly clear that I do not claim ownership of any
      of the content featured on this website.
    </p><p>
      The content displayed on this website, including text, images, audio, and
      any other media, is sourced from various authors and contributors who have
      generously shared their creations with the SCP Foundation community. These
      remarkable individuals have invested their time, creativity, and
      imagination into crafting these intriguing stories, objects, and anomalous
      entities.
    </p><p>
      I recognize and respect the rights of the original authors and
      contributors, who hold the copyrights and intellectual property rights to
      their respective SCP entries. I have made every effort to provide
      appropriate attribution wherever possible, ensuring that the creators
      receive the recognition they deserve.
    </p><p>
      Furthermore, I strongly encourage visitors to support and engage directly
      with the SCP Foundation and its associated community. By visiting the
      official SCP Foundation website (<a href="http://www.scp-wiki.wikidot.com"
        >http://www.scp-wiki.wikidot.com</a
      >), you can explore a vast collection of SCP articles and interact with
      the talented authors themselves.
    </p><p>Thanks.</p>
  </article>
</BaseLayout>
