{{ define "main" }}
  <main class="mb-auto">
    <div class="flex flex-col justify-center items-center">
      <div class="items-start">
        <h2 class="font-medium text-rosewood-700 dark:text-rosewood-400">
          Warning: the SCP Foundation database is
        </h2>
        <h1
          class="mb-1 text-3xl font-bold uppercase md:text-5xl text-rosewood-500 dark:text-rosewood-400"
        >
          Classified
        </h1>
        <h2 class="font-medium text-rosewood-700 dark:text-rosewood-400">
          Access by unauthorized personnel is strictly prohibited.
        </h2>
        <h2 class="mb-4 font-medium text-rosewood-700 dark:text-rosewood-400">
          Perpetrators will be tracked, located, and detained.
        </h2>
        <div class="mb-4 border-b-4 border-payne-700"></div>
        <h2 class="font-medium text-payne-600 dark:text-payne-200">
          Submit for retinal identification...
        </h2>
        <h2 class="font-medium text-green-500">Access granted.</h2>
        <h2 class="mb-4 font-medium text-payne-600 dark:text-payne-200">
          Welcome, Dr. Wineland.
        </h2>
        <h2
          class="mb-4 font-medium transition-transform duration-500 ease-in-out hover:scale-110 hover:translate-x-5 text-mango"
        >
          <a href="/id">Access archives</a>
        </h2>
        <h2
          class="mb-4 font-medium transition-transform duration-500 ease-in-out hover:scale-110 hover:translate-x-5 text-mango"
        >
          <a href="/orientation">Please complete your orientation</a>
        </h2>
      </div>
    </div>
  </main>
{{ end }}
